body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a0c27;
}

#primary{
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

h1, #name{
  text-align: center;
  color: #fff;
}


.topnav{
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  box-shadow: -4px 8px 16px 0px rgba(0,0,0,0.35);
}

#primary a{
	color: #000;
	font-size: 200px;
	text-align: center;
	text-decoration: none;
}

.topnav a{
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  color: #999;
  transition: all 0.25s;
}

.topnav .fas fa-times{
  transition: all 0.25s;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 .dropdown:hover .dropbtn {
   color: #999;
   transition: all 0.25s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


}
